@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@400;500;600;700&display=swap');

* {  
  font-family: 'Dosis', sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background-color: #d1ced9;
}

.btn-wrapper {
  height: 100vh;
  width: 100%;
}

.btn {
  background: linear-gradient(to top, #171515, #0b132b, #253d5b  );
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, 
              rgba(0, 0, 0, 0.12) 0px -12px 30px, 
              rgba(0, 0, 0, 0.12) 0px 4px 6px, 
              rgba(0, 0, 0, 0.17) 0px 12px 13px, 
              rgba(0, 0, 0, 0.09) 0px -3px 5px;
  color: #eff0ed;
  border-radius: 50px;
  border: none;
  outline: none;
  position: absolute;
  overflow: hidden;
  height: 70px;
  width: 250px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.btn span {
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: top 2s;
}

.btn-text-one {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.btn-text-two {
  position: absolute;
  width: 100%;
  top: 150%;
  left: 0;
  transform: translateY(-50%);
}

.btn:hover .btn-text-one {
  top: -100%;
}

.btn:hover .btn-text-two {
  top: 50%;
}